<a href="/">Home</a>
<a href="/directors/">Directors</a>
<a href="/actors/">Actors</a>
<a href="/movies/">Movies</a>

<h1>Edit Actor Information</h1>

<form action="/actors/update/<%= @actor.id %>">
  <div>
    <label for="actor_name">Name:</label>
    <input id="actor_name" type="string" name="new_name" value="<%= @actor.name %>">
  </div>
  <div>
    <label for="actor_bio">Biography:</label>
    <textarea id="actor_bio" name="new_bio" rows=5 cols=30><%= @actor.bio %></textarea>
  </div>
  <div>
    <label for="actor_dob">Date of Birth:</label>
    <input id="actor_dob" type="string" name="new_dob" value="<%= @actor.dob %>">
  </div>
  <div>
    <label for="actor_image">Image URL:</label>
    <input id="actor_image" type="text" name="new_image_url" value="<%= @actor.image_url %>">
  </div>
  <div>
    <button>Update Actor Information</button>
  </div>
</form>

<a href="/actors">Back to Actors</a>
